* {
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 246);
    margin: 0 10%;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.addNewsForm {
    margin: 10px;    
}

.addNewsForm__group {
    padding: 10px;
}

.addNewsForm__group__label {
    display: block;
}

.newsDashboard {
    margin: 10px;    
}

.article {
    margin: 10px;
}

.newsCounter {
    margin: 10px;
    margin-top: 20px;    
}

h1 {
    margin: 20px;
}

.addNewsForm__error {
    color: red;
    font-weight: bold;
    padding: 10px;
}

@media (max-width: 750px) {
    body {
        margin: 0 0 75px;
    }
}